<div class="container" id="body">
  <h1 class="text-center home">Directory</h1>
  <div class="row">
  <% if @db_empty %>
    <div class="text-center">
      </br>
      </br>
      <p><%= link_to "Add a site", root_path, class: "button btn-lg list" %></p>
    </div>
    <% else %>
    <% @pages.each do |p| %>
    <div class="col-xs-12 card">
      <h1><%= p.id %></h1>
      <h4><%= p.url %></h4>
      <h5>H1</h5>
      <p><%= p.h1 %></p>
      <h5>H2</h5>
      <p><%= p.h2 %></p>
      <h5>H3</h5>
      <p><%= p.h3 %></p>
      <h5>Links</h5>
      <p><%= p.links %></p>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
